.history-header-element {
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #fafafa;
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
}

.history-container {
    min-height: 500px;
}

.history-sm {
    font-size: 0.9rem;
}

.history-xs {
    font-size: 0.8rem;
}
